@model RailwayApp.Models.Payment

@{
    ViewBag.Title = "Payment Success";
}

<h2>Payment Success</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.Route.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.Route.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayName("Paid On")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
